{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{{ url_for('vox.load_table') }}" enctype="multipart/form-data">
        <input type="file" name="spreadsheet" accept=".csv,.xlsx"/>
        <input type="number" name="header" value="0" min="0"/>
        <input class="btn btn-primary" type="submit" value="Upload" />
    </form>

    {% if comment %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form id='form' method='POST' action="{{ url_for('vox.acknowledge', dir=comment['dir'], track=comment['track']) }}" >
                    <label style="font-weight: bold;">Speaker Name</label>
                    <input type="text" placeholder="Speaker name" value="{{ comment['caller'] }}"/><br>

                    <h2>Location</h2>

                    <label>Council District</label>
                    <select name='districts' id='districts'>
                        <option value=''>-</option>
                        {% for district in districts %}
                            <option value="{{ district.district_id }}">District {{ district.district_id }} - {{ district.councilor }}</option>
                        {% endfor %}
                    </select>
                    <br />

                    <label for="street">Street</label>
                    <input type="text" id="street" name="street" />
                    
                    <br />
                    
                    <label for="city">City</label>
                    <select>
                        {% for city in cities %}
                        <option>{{ city }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" id="cities" name="cities" />
                    
                    <datalist id="cities">
                        {% for city in cities %}
                        <option value="{{ city }}"></option>
                        {% endfor %}
                    </datalist>
                    
                    <br />

                    <label for="neighborhood">Neighborhood</label>
                    <select name="neighborhood" id="neighborhood">
                        <option value="">-</option>
                        {% for neighborhood in neighborhoods %}
                            <option value="{{ neighborhood.neighborhood_id }}">{{ neighborhood.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="neighborhood" id="neighborhood" />

                    <datalist id="neighborhoods">
                        {% for neighborhood in neighborhoods %}
                            <option value="{{ neighborhood }}"></option>
                        {% endfor %}
                    </datalist>

                    <br />

                    <label for="zone">Zone</label>
                    <select name='zones' id='zones'>
                        <option value=''>-</option>
                        {% for zone in zones %}
                            <option value="{{ zone.zone_id }}">{{ zone.zone_val }}</option>
                        {% endfor %}
                    </select>

                    <br />

                    <label for="npu">NPU (Neighborhood Planning Unit)</label>
                    <input type="text" id="npu" name="npu" />

                    <br />

                    <label for="zip">Zip Code</label>
                    <input type="number" id="zip" name="zip" min="00501" max="99950" />

                    <br />

                    <input type="checkbox" id="Atlanta" name="Atlanta"/>
                    <label for="Atlanta">City of Atlanta</label>
                    <br />

                    <label for="other_location">Other</label>
                    <input type="text" id="other_location" name="other_location" />

                    <label for="topic">Topic</label>
                    <input type="text" id="topic" name="topic" />

                    <br />

                    <label for="intent">Intent</label>
                    <select>
                        {% for intent in intents %}
                            <option value="{{ intent }}">{{ intent }}</option>
                        {% endfor %}
                    </select>

                    <br />

                    <label for="overall">Overall:</label>
                    <input id="overall" type="text"/>
                    <br>
                    <label for="notes">Notes:</label>
                    <input id="notes" type="text" />
                </form>
            </div>
            <div class="col">
                <audio controls></audio><br>
                <div id="transcript" contentEditable=True>{{ comment['text'] }}</div> 
                <button class="btn btn-info">Edit Transcript</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="btn btn-primary" type="submit" form="form"/>
            </div>
        </div>
    </div>
        
    {% endif %}
    
{% endblock content %}

{% block scripts %}
    <script>let keywords = {{ keywords|safe }};</script>
    <script src="{{ url_for('static', filename='scripts/transcript.js') }}"></script>
{% endblock scripts %}