{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{{ url_for('vox.load_table') }}" enctype="multipart/form-data">
        <input type="file" name="spreadsheet" accept=".csv,.xlsx"/>
        <label for="header">Header Rows</label>
        <input type="number" name="header" value="0" min="0"/>
        <input class="btn btn-primary" type="submit" value="Upload" />
    </form>

    {% if comment %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form id='form' method='POST' action="{{ url_for('vox.acknowledge', directory=comment['directory'], track=comment['track']) }}" >
                    <input type="text" name="directory" value="{{ comment['directory'] }}" hidden/>
                    <input type="number" name="track" value="{{ comment['track'] }}" hidden/>
                    <input type="text" name="entered by" value="{{ g.user['name'] }}" hidden/>

                    <label style="font-weight: bold;">Speaker Name</label>
                    <input type="text" name="caller" id="caller" placeholder="Speaker name" value="{{ comment['caller'] }}"/><br>

                    <h2>Location</h2>

                    <label>Council District</label>
                    <select name='district' id='districts'>
                        <option value=''>-</option>
                        {% for district in districts %}
                            <option value="{{ district.district_val }} {{ district.name }}">District {{ district.district_id }} - {{ district.councilor }}</option>
                        {% endfor %}
                    </select>
                    <br />

                    <label for="street">Street</label>
                    <input type="text" id="street" name="street" />
                    
                    <br />
                    
                    <label for="city">City</label>
                    <input type="text" name="city" list="cities" />                    
                    <datalist id="cities">
                        {% for city in cities %}
                            <option value="{{ city }}"></option>
                        {% endfor %}
                    </datalist>
                    
                    <br />

                    <label for="neighborhood">Neighborhood</label>
                    <input type="text" name="neighborhood" list="neighborhoods" />
                    <datalist id="neighborhoods">
                        {% for neighborhood in neighborhoods %}
                            <option value="{{ neighborhood.name }}"></option>
                        {% endfor %}
                    </datalist>

                    <br />

                    <label for="zone">Zone</label>
                    <select name='zone' id='zones'>
                        <option value=''>-</option>
                        {% for zone in zones %}
                            <option value="{{ zone.zone_val }}">{{ zone.zone_val }}</option>
                        {% endfor %}
                    </select>

                    <br />

                    <label for="npu">NPU (Neighborhood Planning Unit)</label>
                    <input type="text" id="npu" name="npu" />

                    <br />

                    <label for="zip">Zip Code</label>
                    <input type="number" id="zip" name="zip" min="00501" max="99950" />

                    <br />

                    <input type="checkbox" id="Atlanta" name="Atlanta" value="True"/>
                    <label for="Atlanta">City of Atlanta</label>
                    <br />

                    <label for="other_location">Other</label>
                    <input type="text" id="other_location" name="other_location" />

                    <label for="topic">Topic</label>
                    <input type="text" id="topic" name="topic" />

                    <br />

                    <label for="intent">Intent</label>
                    <select name="intent" id="intents" required>
                        {% for intent in intents %}
                            <option value="{{ intent }}">{{ intent }}</option>
                        {% endfor %}
                    </select>

                    <br />

                    <label for="overall">Overall:</label>
                    <input id="overall" type="text"/>
                    <br>
                    <label for="notes">Notes:</label>
                    <input id="notes" type="text" />
                </form>
            </div>
            <div class="col">
                <audio controls></audio><br>
                <div id="transcript" contentEditable=True>{{ comment['text'] }}</div> 
                <button class="btn btn-info">Edit Transcript</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="btn btn-primary" type="submit" form="form"/>
            </div>
        </div>
    </div>
        
    {% endif %}
    
{% endblock content %}

{% block scripts %}
    <script>
        let keywords = {{ keywords|safe }};
    </script>
    <script src="{{ url_for('static', filename='scripts/form.js') }}"></script>
{% endblock scripts %}